
/* sec2 */
.sec2                                {padding: 5vw 0vw;}


/* .sec2>ani1_chat chat */
.chat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; height: 100%;
  z-index: 2;
  overflow: hidden;
  background: #0a0a0a;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
  
/* .sec2>ani1_Chat Title*/
  .chat-title             {position: relative; margin:0; padding: 3.5vw 1vw 1vw 2vw; background: rgba(255, 255, 255, 0.1); color: #EEE3C1; text-align: left; z-index: 2; box-sizing: border-box;}
  .chat-title .accountName, 
  .chat-title .accountState          {margin: 0 0 0 3.5vw; padding: 0; font-weight: normal; font-size: 1.5vw; color: rgba(238, 227, 193, 0.7); }
  .chat-title .accountState          {padding-left: 0.5vw; font-size: 1vw; letter-spacing: 0.9; line-height: 0.9vw; }
  .chat-title .avatar     {overflow: hidden; position: absolute; width: 3.5vw; height: 3.5vw; margin: 0; padding: 0; top: 3vw; left: 1vw; border-radius: 50%; 
                            border: 0.2vw solid #EEE3C1; z-index: 1;}
/* .sec2>ani1_chat Messages*/
  .messages{
        overflow: hidden; position: relative; flex: 1 1 auto;
        width: 100%; 
        margin-top: 0vw; padding: 0 2vw; 
        color: rgba(255, 255, 255, 0.5); 
        box-sizing: border-box;
  }
  .messages .messages-content{
        position: absolute; 
        height: 101%; width: 100%; top: 0; left: 0;}

  .messages .message{
        clear: both; float: left; position: relative;
        margin: 2.1vw 0 0 0vw; padding: 0.5vw 1.5vw 0.5vw;   
        font-size: 1.5vw; line-height: 1.5; color: #0a0a0a; 
        text-shadow: 0 .1vw .1vw rgba(0, 0, 0, 0.2);
        border-radius: 1vw 1vw 1vw 0; background: #EEE3C1;
    }
  .messages .message .timestamp{
        position: absolute; bottom: -2.2vw; 
        font-size: 1.2vw; color:#EEE3C1;
    }
  .messages .message::before{
        content: ''; 
        position: absolute; bottom: -0.5vw; left: 0; 
        border-top: .8vw solid #EEE3C1;  border-right: .8vw solid transparent;
    }
  .messages .message .avatar img  {width: 100%; height: auto;}
  .messages .message.message-personal {
        float: right; max-width: 20vw;
        color: #0a0a0a; text-align: right; 
        background: #d3f5c9; border-radius: 1vw 1vw 0 1vw;
    }
  .messages .message.message-personal::before { 
        left: auto; right: 0; bottom: -0.5vw;
        border-right: none; border-left: .8vw solid transparent; border-top: .8vw solid #d3f5c9; }
  .messages .message:last-child {margin-bottom: 2vw;}
  .messages .message.new { 
        transform: scale(0);
        transform-origin: 0 0;
        animation: bounce 500ms linear both;
  }
  .messages .message.loading::before {
        content: '';
        display: block;
        position: absolute; top: 50%; left: 50%;
        margin-top: .3vw;
        transform: translate(-50%, -50%);
        width: .3vw; height: .3vw;
        background:  rgba(10, 10, 10, 0.3); border-radius: 50%; 
        animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
        animation-delay: .15s;
        border: none;
        z-index: 2;
  }
  .messages .message.loading span {
        display: block;
        font-size: 0;
        width: 2vw;
        height: 1.9vw;
        position: relative;
  }
  .messages .message.loading span::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        display: block;
        width: .3vw;
        height: .3vw;
        border-radius: 50%;
        background:  rgba(10, 10, 10, 0.3);
        z-index: 2;
        margin-top: .3vw;
        animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
        margin-left: -.6vw;
  }
  .messages .message.loading span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        display: block;
        width: .3vw;
        height: .3vw;
        border-radius: 50%;
        background:  rgba(10, 10, 10, 0.3);
        z-index: 2;
        margin-top: 0.3vw;
        animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
        margin-left: 0.6vw;
        animation-delay: .3s;
  }
  
  /*.sec2>ani1_Message Box */
  .message-box {
        flex: 0 1 3vw;
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        padding: 1vw;
        position: relative;
        box-sizing: border-box;
  }
  .message-box .message-input {
        background: none;
        border: none;
        outline: none !important;
        resize: none;
        color: #EEE3C1;
        font-size: 1.5vw;
        height: 1.7vw;
        margin: 0;
        width: 90%;
  }
  .message-box textarea:focus:-webkit-placeholder {
        color: transparent;
  }
  .message-box .message-submit {
        position: absolute;
        z-index: 1;
        top: 1vw;
        right: 1vw;
        color: #EEE3C1;
        border: 0.1vw solid #EEE3C1;
        background: #0a0a0a;
        font-size: 1.2vw;
        text-transform: uppercase;
        line-height: 1;
        padding: .6vw 1vw;
        border-radius: 2vw;
        outline: none !important;
        transition: border .2s ease;
  }
  .message-box .message-submit:hover {
        border: 0.1vw solid #d3f5c9;
        color: #d3f5c9;
  }
  
  /*.sec2>ani1_Custom Srollbar */
  .mCSB_scrollTools {
        margin: .2vw -.1vw .1vw 0;
        opacity: 0;
  }
  
  .mCSB_inside > .mCSB_container {
        margin-right: 0;
        padding: 0 1vw;
  }
  
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-color: rgba(238, 227, 193, 0.6) !important;
  }
  
  /*.sec2>ani1_Bounce */
     @keyframes bounce {
    0% {
               transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
               transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
               transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
               transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
               transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
               transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
               transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
               transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
               transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
               transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
               transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
               transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
               transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
 
  @keyframes ball {
    from {
               transform: translateY(0) scaleY(0.8);
    }
    to {
               transform: translateY(-1vw);
    }
  }










  /* .sec2>ani2_.menu */
 .menuBox {overflow: hidden; position: relative; width: 100%; height: 100%; 
      background: linear-gradient(135deg, var(--grad-start), var(--grad-end));
    } 
    
    .menuTrigger, .closeTrigger {
      position: absolute;
      top: 5.2vw;
      right: 2vw;
      display: block;
      width: 4.2vw;
      height: 4.2vw;
      cursor: pointer;
      z-index: 30;
    }
    .menuTrigger:hover .menuTriggerBar:before, .closeTrigger:hover .menuTriggerBar:before {width: 100%;}
    .menuTrigger:hover .closeTriggerBar:before, .closeTrigger:hover .closeTriggerBar:before {width: 100%;}
    .closeTrigger { top: 6vw; z-index: 30;}
    
    .menuTriggerBar {
      display: block;
      width: 100%;
      height: .4vw;
      background-color: #EEE3C1;
      margin-bottom: .6vw;
      transform: rotate(-45deg);
      position: relative;
    }
    .menuTriggerBar:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 0%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    }
    .menuTriggerBar.top {
      width: 50%;
    }
    .menuTriggerBar.middle:before {
      left: auto;
      right: 0;
    }
    .menuTriggerBar.bottom {
      width: 50%;
      margin-left: 50%;
    }
    
    .closeTriggerBar { display: block; width: 100%; height: .4vw; background-color: #EEE3C1; position: relative; }
    .closeTriggerBar:before {
      content: "";
      position: absolute; top: 0; left: 0; display: block; width: 0%; height: 100%;
      transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1); background-color: rgba(0, 0, 0, 0.2); 
    }
    .closeTriggerBar.left {
      transform: rotate(-45deg);
    }
    .closeTriggerBar.right {
      transform:  rotate(45deg);
      top: -.4vw;
    }
    
    .logo {
       display: block;
      width: 9vw;
      height: 6.4vw;
      position: absolute;
      top: 50%;
      left: 50%;
     transform: translate(-50%, -50%);
      text-align: center;
      z-index: 10;
    }
    
    .logo .logoInfo{
      font-size: 1.5vw;
      margin-bottom: 1vw;
      white-space: nowrap;
      text-decoration: underline;
      background-color: rgba(0,0,0,0.1);
    }
    .logo span {
      display: block;
      text-align: center;
      line-height: 6vw;
      font-size: 7vw;
      color: #EEE3C1;
    }
    
    
    
    .innerContainer, .menuContainer {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }
    
    .innerContainer {
      z-index: 20;
    }
    
    .menuContainer {
      display: flex;
      align-items: center;
    }
    
    .menu {
      display: block;
      width: 100%;
      padding: 20%;
    }
    .menu li {
      text-align: left;
      display: block;
      padding: .5vw 0;
    }
    .menu a {
      text-decoration: none;
      color: #EEE3C1;
      display: inline-block;
      position: relative;
      font-size: 1.5vw;
    }
    .menu a:hover:before {
      opacity: 1;
      transform: translateX(0);
    }
    .menu a:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -.2vw;
      width: 1.8vw;
      height: .3vw;
      opacity: 0;
      background-color: #EEE3C1;
      transform: translateX(10vw) ;
      transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    }
    
   





/* .sec2>ani3_.calculator */
.calculator {
      display: grid; width: 100%; height: 100%; padding: 8vw 1vw 0 1vw; background-color: #0a0a0a; box-sizing: border-box;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 5vw;
      grid-auto-rows: 5vw;
      grid-gap: 1vw;
    }
    .calculator span {padding-top: 1vw; font: lighter 3vw/1 'Public+Sans'; color: #EEE3C1; cursor: pointer; background-color: #3d3b41;  border-radius: 10%;
      display: flex; 
      justify-content: center; align-items: center;
      transition: opacity 0.25s ease;
    }
    .calculator span:active {opacity: 0.8;}
    .calculator span:not(.result) {user-select: none;}
    .calculator .result {padding-right: 2vw; font-size: 4.5vw; justify-content: flex-end; background-color: #0a0a0a; 
      grid-column: 1 / 4; 
      overflow: hidden;  white-space: nowrap;
    }
    .calculator .zero {grid-column: 1 / 3;}
    .calculator .operation {background-color: #ca081279;}
    .calculator .reset {background-color: #b3b3bb;}
  




    /*
 *
 * CSS CONTENTS:
 *
 * 01. Web Font
 * 02. Type Selector Reset
 * 03. Loding
 * 04. Calculator
 * 05. Darkmode switch
 * 06. Darkmode
 * 07. Explanation
 *
 */

/* Web Font Load */
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');



.Main {
   width: 100%;
   height: 100%;
}

/* Loding */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-weight: 300;
}

/* Calculator */


.result {
    padding-top: 5vw;
    width: 100%;
    height: 30%;
    box-sizing: border-box;
}
.result p {
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  color: rgb(158, 161, 165);
  text-overflow: ellipsis;
  text-align: right;
  font-size: 5vw;
}


.button-area {
    height: 70%;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    display: flex;
    background-color: rgb(48, 57, 79);
    padding: 1vw 0;
    box-sizing: border-box;
}

.calcualatorBtn {
    margin: .4vw;
    height: 3.5vw;
    width: 4.5vw;
    border: none;
    border-radius: 4vw;
    outline: none;
    background-color: #99a7a00e;
    font-size: 2vw;
    font-weight: bold;
    color: #99a7a0;

}

.calcualatorBtn:hover {
    box-shadow: 0.1px 0.1px 2px #99a7a0;
}

.calcualatorBtn:active {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.symbol {
    background-color: rgb(35, 43, 63);
    color: #48d392;
}

#same {

    background-color: #48d392;
    color: rgb(35, 43, 63);
  }
